<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/common_head :: commonHeadScripts}"></th:block>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fighting</title>

    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/basic.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="/css/content.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="/css/gap.css" type="text/css" media="all" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="main">
    <div id="wrap">
      <!-- header -->
      <div th:replace="~{fragments/header :: siteHeader}"></div>
      <!-- main center -->
      <div class="main-content">
        <div class="inner">
          <div class="gap_wrapper">
            <div class="f404_box">
              <div class="f404_txt">
                <h2>ADMIN</h2>
              </div>
            </div>
            <!-- admin -->
            <div class="admin_box">
              <div class="admin_input_yo">
                <div class="admin_tit">
                  <h2>메인 페이지 유튜브링크</h2>
                </div>
                <div class="admin_input_group">
                  <input type="text" />
                  <input type="text" />
                  <input type="text" />
                </div>
                <div class="admin_btn">
                  <button>등록</button>
                </div>
              </div>
              <div class="admin_input_yo">
                <div class="admin_tit">
                  <h2>클랜 페이지 상위 배너</h2>
                </div>
                <div class="admin_input_group">
                  <label for="img">
                    <p>이미지</p>
                    <input class="img" type="text" />
                  </label>
                  <label for="con">
                    <p>상세내용</p>
                    <input class="con" type="text" />
                  </label>
                </div>
                <div class="admin_btn">
                  <button>등록</button>
                </div>
              </div>
              <div class="admin_input_yo">
                <div class="admin_tit">
                  <h2>클랜 페이지 상위 배너</h2>
                </div>
                <div class="admin_input_group">
                  <label for="img">
                    <p>이미지</p>
                    <input class="img" type="text" />
                  </label>
                  <label for="con">
                    <p>상세내용</p>
                    <input class="con" type="text" />
                  </label>
                </div>
                <div class="admin_btn">
                  <button>등록</button>
                </div>
              </div>
              <div class="admin_input_yo">
                <div class="admin_tit">
                  <h2>클랜 페이지 상위 배너</h2>
                </div>
                <div class="admin_input_group">
                  <label for="img">
                    <p>이미지</p>
                    <input class="img" type="text" />
                  </label>
                  <label for="con">
                    <p>상세내용</p>
                    <input class="con" type="text" />
                  </label>
                </div>
                <div class="admin_btn">
                  <button>등록</button>
                </div>
              </div>

              <div class="admin_delete mt35">
                <div class="admin_input_yo">
                  <div class="admin_tit">
                    <h2>게시판 게시물 삭제</h2>
                    <span>(넘버링 기입)</span>
                  </div>
                  <div class="admin_input_group">
                    <input type="text" />
                  </div>
                  <div class="admin_btn">
                    <button>삭제</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- 이전, 메인 버튼 -->
            <div class="notice_btn_group width_100">
              <div class="notice_btn">
                <button>이전으로</button>
                <button class="blue_btn_yo">메인으로</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer id="footer">
        <div class="footer_top">
          <div class="inner">
            <div class="footer_menu_box">
              <div class="footer_menu">
                <a href="/member/agree">이용약관</a>
              </div>
              <div class="header_bar">|</div>
              <div class="footer_menu">
                <a href="/member/policy">개인정보처리방침</a>
              </div>
            </div>
          </div>
        </div>

        <div class="footer_bottom">
          <div class="inner">
            <div class="footer_side">
              <img src="/img/footer_logo.png" alt="" />
            </div>
            <div class="footer_side right">
              <div class="footer_info_box">
                <div class="footer_info_yo">
                  <img src="/img/footer_icon01.png" alt="" />
                  <p>NTROPYADMIN</p>
                </div>
                <div class="footer_info_yo">
                  <img src="/img/footer_icon02.png" alt="" />
                  <p>CKSUN0620@NAVER.COM</p>
                </div>
              </div>
              <div class="copyright">
                <p>© Copyrights 2025 NTROPHY All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
