<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/common_head :: commonHeadScripts}"></th:block>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fighting</title>

    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/basic.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="/css/content.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="/css/gap.css" type="text/css" media="all" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="main">
    <div id="wrap">

      <!-- header -->
      <div th:replace="fragments/header :: siteHeader"></div>


      <!-- top ad -->
      <div class="top_ad">
        <h2>상단 광고</h2>
      </div>

      <!-- main container -->
      <div class="container mt70">
        <!-- left ad -->
        <div class="ad-left">
          <h2>왼쪽 광고</h2>
        </div>
        <!-- main center -->
        <div class="main-content">
          <!-- 메인 제목 (리더보드)-->
          <div class="sub_page_tit_box">
            <h2>LEADER BOARD</h2>
            <div class="tit_line"></div>
          </div>

          <!-- 리더보드 탭 -->
          <div class="sub_page_tab_box mt70">
            <div class="tab_one_yo active">
              <p><a href="/leaderboard/steam">STEAM</a></p>
            </div>
            <div class="tab_one_yo">
              <p><a href="/leaderboard/kakao">KAKAO</a></p>
            </div>
            <div class="fpp_check_box">
              <label for="leader_fpp">
                <input type="checkbox" id="leader_fpp" onchange="onChangeFpp(event)" />
                <p>FPP</p>
              </label>
            </div>
          </div>

          <!-- 리더보드 게시판 -->
          <div class="board_yo leader_board_yo mt20">



            <!-- 헤더 -->
            <div class="board-header_yo">
              <div class="col_yo num_yo">순위</div>
              <div class="col_yo title_yo">플레이어</div>
              <div class="col_yo writer_yo">RP</div>
              <div class="col_yo date_yo">KDA</div>
              <div class="col_yo views_yo">경기수</div>
            </div>

            <div id="normal_list">
            <!-- 상위 3개 -->
              <div
                      th:each="player, stat : ${playerList}"
                      th:class="board-row_yo"
              >
                <div class="col_yo num_yo" th:text="${player.attributes.rank}" data-label="순위"></div>
                <div class="col_yo title_yo" th:text="${player.attributes.name}" data-label="플레이어"></div>
                <div class="col_yo writer_yo"
                     th:text="${#numbers.formatDecimal(player.attributes.stats.rankPoints, 0, 0)}"
                     data-label="RP">
                </div>
                <div class="col_yo date_yo"
                     th:text="${#numbers.formatDecimal(player.attributes.stats.kda, 1, 2)}"
                     data-label="KDA">
                </div>
                <div class="col_yo views_yo" th:text="${player.attributes.stats.games}" data-label="경기수"></div>

              </div>
            </div>

            <div id="fpp_list" style="display: none;">
              <div
                    th:each="player, stat : ${playerFppList}"
                    th:class="board-row_yo"
              >
                <div class="col_yo num_yo" th:text="${player.attributes.rank}" data-label="순위"></div>
                <div class="col_yo title_yo" th:text="${player.attributes.name}" data-label="플레이어"></div>
                <div class="col_yo writer_yo"
                     th:text="${#numbers.formatDecimal(player.attributes.stats.rankPoints, 0, 0)}"
                     data-label="RP">
                </div>
                <div class="col_yo date_yo"
                     th:text="${#numbers.formatDecimal(player.attributes.stats.kda, 1, 2)}"
                     data-label="KDA">
                </div>
                <div class="col_yo views_yo" th:text="${player.attributes.stats.games}" data-label="경기수"></div>
              </div>
            </div>


          </div>
          <!-- 불러오기 버튼 -->
          <div class="call_btn mt35">
            <a href="javascript:;">
              <p>불러오기</p>
            </a>
          </div>
        </div>
        <!-- right ad -->
        <div class="ad-right">
          <h2>오른쪽 광고</h2>
        </div>
      </div>

      <!--%@ include file="/include/footer.jsp" %-->
    </div>
  </body>
</html>

<!-- 양 사이드 광고 높이 조정 스크립트 -->
<script>

  function onChangeFpp(event) {
    event.preventDefault();
    event.stopPropagation();

    const checkbox = document.getElementById("leader_fpp");
    const normalList = document.getElementById("normal_list");
    const fppList = document.getElementById("fpp_list");

    // Toggle the display of normal_list and fpp_list

    if (checkbox.checked) {
      // Hide normal list and show fpp list when checkbox is checked
      normalList.style.display = 'none';
      fppList.style.display = 'block';
    } else {
      // Show normal list and hide fpp list when checkbox is unchecked
      normalList.style.display = 'block';
      fppList.style.display = 'none';
    }

  }

  window.addEventListener("scroll", () => {
    const container = document.querySelector(".container");
    const ads = document.querySelectorAll(".ad");

    const containerTop = container.offsetTop;
    const containerHeight = container.offsetHeight;
    const containerBottom = containerTop + containerHeight;
    const scrollTop = window.scrollY;
    const padding = 20;



    ads.forEach((ad) => {
      const adHeight = ad.offsetHeight;
      let topOffset = scrollTop + padding - containerTop;

      if (scrollTop + padding < containerTop) {
        topOffset = 0;
      }

      if (topOffset + adHeight > containerHeight) {
        topOffset = containerHeight - adHeight;
      }

      ad.style.top = `${topOffset}px`;
    });
  });
</script>
