<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/common_head :: commonHeadScripts}"></th:block>

</head>
<body class="main">
<div id="wrap">
    <!-- header -->
    <div th:replace="~{fragments/header :: siteHeader}"></div>

    <!-- main container -->
    <div class="container mt70">
        <!-- left ad -->
        <div class="ad-left">
            <h2>왼쪽 광고</h2>
        </div>
        <!-- main center -->
        <form method="post" th:action="@{/notice/password(cmd=${cmd})}">
        <div class="main-content">
            <!-- 게시물 비밀번호 -->
            <div class="notice_pw_box mt35">
                <div class="notice_txt_box">
                    <p>게시글에 비밀번호를 입력하세요.</p>
                    <div class="notice_editor_box">
                        <!-- 게시글 비밀번호 입력 -->
                        <div class="board_pw_box mt25">
                            <p>게시글 비밀번호</p>
                            <input type="password" name="password" required />
                            <input type="hidden" name="id" th:value="${id}" />
                        </div>
                    </div>
                    <!-- 이전, 등록 버튼 -->
                    <div class="notice_btn_group mt70 mb35">
                        <div class="notice_btn">
                            <button type="submit" class="blue_btn_yo">확인</button>
                            <a th:href="@{/notice/view(no=${id})}">취소</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>

        <!-- right ad -->
        <div class="ad-right">
            <h2>오른쪽 광고</h2>
        </div>
    </div>
    <!-- 푸터 -->
    <div th:replace="~{fragments/footer :: siteFooter}"></div>
</div>

<!-- 양 사이드 광고 높이 조정 스크립트 -->
<script>
    window.addEventListener("scroll", () => {
      const container = document.querySelector(".container");
      const ads = document.querySelectorAll(".ad");

      const containerTop = container.offsetTop;
      const containerHeight = container.offsetHeight;
      const containerBottom = containerTop + containerHeight;
      const scrollTop = window.scrollY;
      const padding = 20;

      ads.forEach((ad) => {
        const adHeight = ad.offsetHeight;
        let topOffset = scrollTop + padding - containerTop;

        if (scrollTop + padding < containerTop) {
          topOffset = 0;
        }

        if (topOffset + adHeight > containerHeight) {
          topOffset = containerHeight - adHeight;
        }

        ad.style.top = `${topOffset}px`;
      });
    });
</script>



</body>
</html>

