<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fighting</title>

    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/basic.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="/css/content.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="/css/gap.css" type="text/css" media="all" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="main">
    <div id="wrap">
      <!--%@ include file="/include/header.jsp" %-->
      <!--%@ include file="/include/main_visual.jsp" %-->

      <!-- header -->
      <header>
        <div class="inner">
          <div class="h_logo">
            <a href="/">
              <img src="/img/logo.png" alt="" />
            </a>
          </div>
          <div class="gnb">
            <ul>
              <li>
                <a href="/leaderboard/index.html">리더보드</a>
              </li>
              <li class="header_bar">|</li>
              <li>
                <a href="/notice/index.html">게시판</a>
              </li>
              <li class="header_bar">|</li>
              <li class="active">
                <a href="/member/login.html">로그인</a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main container -->
      <div class="container mt70">
        <!-- left ad -->
        <div class="ad-left">
          <h2>왼쪽 광고</h2>
        </div>
        <!-- main center -->
        <div class="main-content">
          <!-- 메인 컨텐츠 박스 -->
          <div class="member_con_box">
            <div class="mem_tit">
              <h2>로그인</h2>
            </div>
            <div class="mem_input_box">
              <div class="mem_ber_input">
                <label for="email">
                  <p><span>*</span> 이메일</p>
                  <input id="email" type="text" />
                </label>
              </div>
              <div class="mem_ber_input">
                <label for="password">
                  <p><span>*</span> 비밀번호</p>
                  <input id="password" type="password" />
                </label>
              </div>
              <!-- 로그인 버튼 -->
              <div class="login_long_btn mt30">
                <a href="javascript:;">LOGIN</a>
              </div>
              <!-- 로그인 정보 저장 / 비번 찾기 / 회원가입 -->
              <div class="login_menu_box">
                <div class="login_menu_side_yo">
                  <label for="save_login">
                    <input id="save_login" type="checkbox" />
                    <p>로그인 정보 저장하기</p>
                  </label>
                </div>
                <div class="login_menu_side_yo right">
                  <a href="javascript:;">비밀번호 찾기</a>
                  <div class="header_bar" style="height: 22px">|</div>
                  <a href="javascript:;">회원가입</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- right ad -->
        <div class="ad-right">
          <h2>오른쪽 광고</h2>
        </div>
      </div>

      <footer id="footer">
        <div class="footer_top">
          <div class="inner">
            <div class="footer_menu_box">
              <div class="footer_menu">
                <a href="javascript:;">이용약관</a>
              </div>
              <div class="header_bar">|</div>
              <div class="footer_menu">
                <a href="javascript:;">개인정보처리방침</a>
              </div>
            </div>
          </div>
        </div>

        <div class="footer_bottom">
          <div class="inner">
            <div class="footer_side">
              <img src="/img/footer_logo.png" alt="" />
            </div>
            <div class="footer_side right">
              <div class="footer_info_box">
                <div class="footer_info_yo">
                  <img src="/img/footer_icon01.png" alt="" />
                  <p>NTROPYADMIN</p>
                </div>
                <div class="footer_info_yo">
                  <img src="/img/footer_icon02.png" alt="" />
                  <p>CKSUN0620@NAVER.COM</p>
                </div>
              </div>
              <div class="copyright">
                <p>© Copyrights 2025 NTROPHY All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!--%@ include file="/include/footer.jsp" %-->
    </div>
  </body>
</html>

<!-- 양 사이드 광고 높이 조정 스크립트 -->
<script>
  window.addEventListener("scroll", () => {
    const container = document.querySelector(".container");
    const ads = document.querySelectorAll(".ad");

    const containerTop = container.offsetTop;
    const containerHeight = container.offsetHeight;
    const containerBottom = containerTop + containerHeight;
    const scrollTop = window.scrollY;
    const padding = 20;

    ads.forEach((ad) => {
      const adHeight = ad.offsetHeight;
      let topOffset = scrollTop + padding - containerTop;

      if (scrollTop + padding < containerTop) {
        topOffset = 0;
      }

      if (topOffset + adHeight > containerHeight) {
        topOffset = containerHeight - adHeight;
      }

      ad.style.top = `${topOffset}px`;
    });
  });
</script>
