<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/common_head :: commonHeadScripts}"></th:block>

  </head>
  <body class="main">
    <div id="wrap">
      <!-- header -->
      <div th:replace="~{fragments/header :: siteHeader}"></div>
      <!-- main container -->
      <div class="container mt70">
        <!-- left ad -->
        <div class="ad-left">
          <h2>왼쪽 광고</h2>
        </div>
        <!-- main center -->
        <div class="main-content">
          <!-- 메인 컨텐츠 박스 -->
          <div class="member_con_box">
            <div class="mem_tit">
              <h2>로그인</h2>
            </div>
            <div class="mem_input_box">
              <div class="mem_ber_input">
                <label for="email">
                  <p><span>*</span> 이메일</p>
                  <input id="email" type="text" />
                </label>
              </div>
              <div class="mem_ber_input">
                <label for="password">
                  <p><span>*</span> 비밀번호</p>
                  <input id="password" type="password" />
                </label>
              </div>
              <!-- 로그인 버튼 -->
              <div class="login_long_btn mt30">
                <a href="javascript:;">LOGIN</a>
              </div>
              <!-- 로그인 정보 저장 / 비번 찾기 / 회원가입 -->
              <div class="login_menu_box">
                <div class="login_menu_side_yo">
                  <label for="save_login">
                    <input id="save_login" type="checkbox" />
                    <p>로그인 정보 저장하기</p>
                  </label>
                </div>
                <div class="login_menu_side_yo right">
                  <a href="javascript:;">비밀번호 찾기</a>
                  <div class="header_bar" style="height: 22px">|</div>
                  <a href="/subPage/member/signin.html">회원가입</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- right ad -->
        <div class="ad-right">
          <h2>오른쪽 광고</h2>
        </div>
      </div>

      <!-- 푸터 -->
      <div th:replace="~{fragments/footer :: siteFooter}"></div>
    </div>

    <!-- 양 사이드 광고 높이 조정 스크립트 -->
    <script>
      window.addEventListener("scroll", () => {
        const container = document.querySelector(".container");
        const ads = document.querySelectorAll(".ad");

        const containerTop = container.offsetTop;
        const containerHeight = container.offsetHeight;
        const containerBottom = containerTop + containerHeight;
        const scrollTop = window.scrollY;
        const padding = 20;

        ads.forEach((ad) => {
          const adHeight = ad.offsetHeight;
          let topOffset = scrollTop + padding - containerTop;

          if (scrollTop + padding < containerTop) {
            topOffset = 0;
          }

          if (topOffset + adHeight > containerHeight) {
            topOffset = containerHeight - adHeight;
          }

          ad.style.top = `${topOffset}px`;
        });
      });
    </script>


  </body>
</html>

