<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/common_head :: commonHeadScripts}"></th:block>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fighting</title>

    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/basic.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="/css/content.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="/css/gap.css" type="text/css" media="all" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="main">
    <div id="wrap">
      <!--%@ include file="/include/header.jsp" %-->
      <!--%@ include file="/include/main_visual.jsp" %-->

      <!-- header -->
      <header>
        <div class="inner">
          <div class="h_logo">
            <a href="/">
              <img src="/img/logo.png" alt="" />
            </a>
          </div>
          <div class="gnb">
            <ul>
              <li>
                <a href="/leaderboard">리더보드</a>
              </li>
              <li class="header_bar">|</li>
              <li>
                <a href="/notice">게시판</a>
              </li>
              <li class="header_bar">|</li>
              <li>
                <a href="/member/login">로그인</a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main container -->
      <div class="container mt70">
        <!-- left ad -->
        <div class="ad-left">
          <h2>왼쪽 광고</h2>
        </div>
        <!-- main center -->
        <div class="main-content">
          <!-- 메인 컨텐츠 박스 -->
          <div class="member_con_box policy_custom">
            <div class="mem_tit policy_tit_yo">
              <h2>개인정보취급방침</h2>
            </div>
            <!-- 개인정보취급방침 -->
            <div class="policy_box">
              <div class="policy_yo">
                <h3>제1조 (총칙)</h3>
                <p class="policy_first_p">
                  가. 엔트로피(이하 "회사")는 이용자의 개인정보를 중요하게
                  생각하며, 개인정보보호법, 정보통신망법 등 관련 법령을
                  준수합니다. <br />
                  나. 본 방침은 이용자의 개인정보가 어떻게 수집, 이용,
                  보호되는지를 명확히 알리기 위함입니다. <br />
                  다. 회사는 본 개인정보취급방침을 홈페이지 및 서비스 내에 상시
                  공개하며, 개정 시 변경 내용을 명확히 고지합니다.
                </p>
              </div>
              <div class="policy_yo">
                <h3>제2조 (수집하는 개인정보 항목 및 수집 방법)</h3>
                <p>
                  가. 회사는 회원가입, 서비스 이용 과정에서 다음과 같은
                  개인정보를 수집할 수 있습니다. 필수 항목: 이메일, 닉네임,
                  비밀번호, 접속 IP, 이용 로그 선택 항목: 프로필 이미지, 클랜명,
                  게임 계정 연동 정보 등 <br />
                  나. 개인정보 수집 방법 회원가입, 서비스 이용 중 직접 입력 자동
                  생성 정보(로그 등)<br />
                  다. 회사는 이용자의 동의 없이 민감정보(사상, 신념, 건강 등)를
                  수집하지 않습니다.
                </p>
              </div>
              <div class="policy_yo">
                <h3>제3조 (개인정보의 수집 및 이용 목적)</h3>
                <p>
                  회사는 수집한 개인정보를 다음 목적 내에서만 사용합니다.
                  <br />회원 관리: 가입 의사 확인, 중복 가입 방지, 불량 이용자
                  차단<br />
                  고객 응대: 문의사항 응답, 분쟁 해결, 고지사항 전달<br />
                  서비스 제공: 통계 제공, 커뮤니티 운영, 게임 전적 검색
                  <br />마케팅 및 분석: 서비스 개선, 맞춤형 콘텐츠 제공, 접속
                  통계 분석
                </p>
              </div>
              <div class="policy_yo">
                <h3></h3>
                <p></p>
              </div>
              <div class="policy_yo">
                <h3>제4조 (개인정보의 제공 및 공유)</h3>
                <p>
                  가. 회사는 이용자의 동의 없이 개인정보를 외부에 제공하지
                  않습니다. <br />나. 다만 다음과 같은 경우에는 예외로 합니다.
                  <br />법령에 의거하거나 수사기관의 요청이 있는 경우
                  <br />서비스 제공에 필수적인 위탁(위탁 시 별도 고지)
                </p>
              </div>
              <div class="policy_yo">
                <h3>제5조 (보유 및 이용기간)</h3>
                <p>
                  가. 회사는 이용자의 개인정보를 회원 탈퇴 또는 동의 철회 시까지
                  보유하며, 목적이 달성되면 지체 없이 파기합니다.<br />
                  나. 단, 다음과 같은 경우에는 법령에 따라 일정 기간 보관할 수
                  있습니다.<br />
                  계약 또는 청약 철회에 관한 기록: 5년 <br />소비자 불만 및
                  분쟁처리 기록: 3년 <br />접속로그 및 이용기록: 3개월
                </p>
              </div>
              <div class="policy_yo">
                <h3>제6조 (개인정보의 파기 절차 및 방법)</h3>
                <p>
                  가. 개인정보는 수집 목적 달성 후 별도 보관 없이 즉시
                  삭제됩니다.<br />
                  나. 전자적 파일 형태: 복구 불가능한 기술적 방법으로 삭제<br />
                  다. 종이 문서 형태: 파쇄 또는 소각 처리
                </p>
              </div>
              <div class="policy_yo">
                <h3>제7조 (이용자의 권리 및 행사 방법)</h3>
                <p>
                  가. 이용자는 언제든지 본인의 개인정보 열람, 수정, 삭제를
                  요청할 수 있습니다. <br />나. 요청은 관리자
                  이메일(cksun0620@naver.com) 통해 접수 가능합니다.<br />
                  다. 개인정보 오류 수정 시까지 해당 정보를 이용하거나 제공하지
                  않으며, 제3자에게 이미 제공된 경우 즉시 통지합니다.
                </p>
              </div>
              <div class="policy_yo">
                <h3>제8조 (동의 철회 및 서비스 해지)</h3>
                <p>
                  가. 이용자는 언제든지 개인정보 수집 및 이용 동의를 철회할 수
                  있습니다.<br />
                  나. 철회는 ‘회원탈퇴’ 또는 별도 요청을 통해 가능합니다.<br />
                  다. 회사는 철회 요청 시 지체 없이 관련 정보를 삭제합니다.
                </p>
              </div>
              <div class="policy_yo">
                <h3>제9조 (개인정보 보호를 위한 기술적/관리적 대책)</h3>
                <p>
                  가. 기술적 대책 <br />개인정보는 암호화되어 저장 및
                  관리됩니다.<br />
                  백신, 방화벽, 침입 차단 시스템 등 보안 시스템 운영<br />
                  개인정보 접근 기록 보관 및 위조 방지 조치<br /><br />
                  나. 관리적 대책<br />
                  최소한의 인원에게 개인정보 접근 권한 부여 <br />정기적인 보안
                  교육 및 점검<br />
                  개인정보와 일반 데이터를 분리 저장
                </p>
              </div>
              <div class="policy_yo">
                <h3>제10조 (개인정보 보호책임자 및 신고 접수)</h3>
                <p>
                  회사는 개인정보 관련 문의 및 민원 처리를 위해 다음과 같이
                  책임자를 지정하고 있습니다. <br />개인정보관리책임자:
                  관리자<br />
                  이메일: cksun0620@naver.com <br />또한, 아래 기관에 개인정보
                  침해에 대한 상담이나 분쟁조정을 신청할 수 있습니다.
                  <br />개인정보침해신고센터: 118 / https://privacy.kisa.or.kr
                  <br />경찰청 사이버안전국: 182 /
                  http://cyberbureau.police.go.kr
                </p>
              </div>
              <div class="policy_yo">
                <h3>부칙</h3>
                <p>본 방침은 2025년 5월 11일부터 시행합니다.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- right ad -->
        <div class="ad-right">
          <h2>오른쪽 광고</h2>
        </div>
      </div>

      <footer id="footer">
        <div class="footer_top">
          <div class="inner">
            <div class="footer_menu_box">
              <div class="footer_menu">
                <a href="/member/agree">이용약관</a>
              </div>
              <div class="header_bar">|</div>
              <div class="footer_menu">
                <a href="/member/policy">개인정보처리방침</a>
              </div>
            </div>
          </div>
        </div>

        <div class="footer_bottom">
          <div class="inner">
            <div class="footer_side">
              <img src="/img/footer_logo.png" alt="" />
            </div>
            <div class="footer_side right">
              <div class="footer_info_box">
                <div class="footer_info_yo">
                  <img src="/img/footer_icon01.png" alt="" />
                  <p>NTROPYADMIN</p>
                </div>
                <div class="footer_info_yo">
                  <img src="/img/footer_icon02.png" alt="" />
                  <p>CKSUN0620@NAVER.COM</p>
                </div>
              </div>
              <div class="copyright">
                <p>© Copyrights 2025 NTROPHY All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

<!-- 양 사이드 광고 높이 조정 스크립트 -->
<script>
  window.addEventListener("scroll", () => {
    const container = document.querySelector(".container");
    const ads = document.querySelectorAll(".ad");

    const containerTop = container.offsetTop;
    const containerHeight = container.offsetHeight;
    const containerBottom = containerTop + containerHeight;
    const scrollTop = window.scrollY;
    const padding = 20;

    ads.forEach((ad) => {
      const adHeight = ad.offsetHeight;
      let topOffset = scrollTop + padding - containerTop;

      if (scrollTop + padding < containerTop) {
        topOffset = 0;
      }

      if (topOffset + adHeight > containerHeight) {
        topOffset = containerHeight - adHeight;
      }

      ad.style.top = `${topOffset}px`;
    });
  });
</script>
