<!-- fragments/footer.html -->
<div th:fragment="siteFooter">
    <footer id="footer">
        <div class="footer_top">
            <div class="footer_inner">
                <div class="footer_menu_box">
                    <div class="footer_menu"><a href="/member/agree.html">이용약관</a></div>
                    <div class="header_bar">|</div>
                    <div class="footer_menu"><a href="/member/policy.html">개인정보처리방침</a></div>
                </div>
            </div>
        </div>

        <div class="footer_bottom">
            <div class="footer_inner">
                <div class="footer_side">
                    <img src="/img/footer_logo.png" alt="하단 로고" />
                </div>
                <div class="footer_side right">
                    <div class="footer_info_box">
                        <div class="footer_info_yo">
                            <img src="/img/footer_icon01.png" alt="관리자 아이콘" />
                            <p>NTROPYADMIN</p>
                        </div>
                        <div class="footer_info_yo">
                            <img src="/img/footer_icon02.png" alt="메일 아이콘" />
                            <p>ntrophymanager@naver.com</p>
                        </div>
                    </div>
                    <div class="copyright">
                        <p>© Copyrights 2025 NTROPHY All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
