<!-- fragments/header.html -->
<div th:fragment="siteHeader">
    <header>
        <div class="inner">
            <div class="h_logo">
                <a th:href="@{/}">
                    <img th:src="@{/img/logo.png}" alt="로고" />
                </a>
            </div>
            <div class="gnb">
                <ul>
                    <li class="search-wrapper">
                        <a href="#" id="searchBtn">
                            <img src="/img/h_search.png" alt="search icon" />
                        </a>

                        <div class="search-popup" id="searchPopup">
                            <input type="text" placeholder="Search..." id="searchInput" />
                            <button type="button" id="searchClose">&times;</button>
                        </div>
                    </li>
                    <li class="header_bar">|</li>
                    <li><a th:href="@{/leaderboard/steam}">리더보드</a></li>
                    <li class="header_bar">|</li>
                    <li><a th:href="@{/notice}">게시판</a></li>
                </ul>
            </div>
        </div>
    </header>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4282223541896969" crossorigin="anonymous"></script>

    <script src="/js/common.js" defer></script>
</div>
