<!-- fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="siteHeader">
    <header>
        <div class="inner">
            <div class="h_logo">
                <a th:href="@{/}">
                    <img th:src="@{/img/logo.png}" alt="로고" />
                </a>
            </div>
            <div class="gnb">
                <ul>
                    <li><a th:href="@{/leaderboard}">리더보드</a></li>
                    <li class="header_bar">|</li>
                    <li><a href="javascript:;">리그</a></li>
                    <li class="header_bar">|</li>
                    <li class="active"><a th:href="@{/notice}">게시판</a></li>
                </ul>
            </div>
        </div>
    </header>
</div>
</body>
</html>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4282223541896969"

        crossorigin="anonymous"></script>