<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/common_head :: commonHeadScripts}"></th:block>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fighting</title>

    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/basic.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="/css/content.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="/css/gap.css" type="text/css" media="all" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="main">
    <div id="wrap">
      <!-- header -->
      <div th:replace="~{fragments/header :: siteHeader}"></div>
      <!-- main center -->
      <!-- 404 -->
      <div class="main-content f404_custom">
        <div class="inner">
          <!-- 404 -->
          <div class="f404_box">
            <div class="f404_logo">
              <img src="/img/404_icon.png" alt="" />
            </div>
            <div class="f404_txt">
              <h2><span>404</span><br />Not Found</h2>
            </div>
            <div class="f404_sub_txt">
              <p>
                요청하신 페이지가 존재하지 않거나, <br />
                요청하신 페이지의 주소가 변경, 삭제되어 찾을 수 없습니다.
              </p>
            </div>
            <!-- 로그인, 가입 버튼 -->
            <div class="notice_btn_group width_100">
              <div class="notice_btn">
                <button>이전으로</button>
                <button class="blue_btn_yo" onclick="location.href='/'">메인으로</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer id="footer">
        <div class="footer_top">
          <div class="inner">
            <div class="footer_menu_box">
              <div class="footer_menu">
                <a href="/subPage/member/agree.html">이용약관</a>
              </div>
              <div class="header_bar">|</div>
              <div class="footer_menu">
                <a href="/subPage/member/policy.html">개인정보처리방침</a>
              </div>
            </div>
          </div>
        </div>

        <div class="footer_bottom">
          <div class="inner">
            <div class="footer_side">
              <img src="/img/footer_logo.png" alt="" />
            </div>
            <div class="footer_side right">
              <div class="footer_info_box">
                <div class="footer_info_yo">
                  <img src="/img/footer_icon01.png" alt="" />
                  <p>NTROPYADMIN</p>
                </div>
                <div class="footer_info_yo">
                  <img src="/img/footer_icon02.png" alt="" />
                  <p>CKSUN0620@NAVER.COM</p>
                </div>
              </div>
              <div class="copyright">
                <p>© Copyrights 2025 NTROPHY All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
