<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragments/common_head :: commonHeadScripts}"></th:block>
</head>

<body class="main">
<div id="wrap">
  <!-- header -->
  <div th:replace="~{fragments/header :: siteHeader}"></div>

  <!-- main visual -->
  <div class="mv_inner">
    <div class="mv_box">
      <div class="mv_logo_box">
        <div class="mv_logo">
          <h2>Track Your Skills. Dominate the Game.</h2>
        </div>
        <form action="/search" method="get">
          <div class="mv_search_box">
            <input type="text" name="name" placeholder="배틀그라운드 닉네임을 입력해주세요." maxlength="17" />
            <div class="search_icon_box">
              <img src="/img/search_icon.png" alt="" />
            </div>
          </div>
        </form>
      </div>
      <div class="mv_link_box">
        <a href="https://discord.gg/aBJtP8gyRy" target="_blank">
          <img src="/img/mv_link01.png" alt="">
        </a>
      </div>
    </div>
  </div>

  <!-- main container -->
  <div class="container mt70">
    <!-- left ad -->
    <div class="ad-left">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4282223541896969" crossorigin="anonymous"></script>
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4282223541896969" data-ad-slot="5277802822" data-ad-format="auto" data-full-width-responsive="true"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>

    <!-- main center -->
    <div class="main-content">
      <!-- youtube -->
      <div class="youtube_box">
        <ul class="item03">
          <li th:each="youtube : ${youtubeList}">
            <div class="you_tube_con">
              <iframe width="100%" height="100%" th:src="@{https://www.youtube.com/embed/{code}(code=${youtube.youtubeUrl})}" frameborder="0" allowfullscreen></iframe>
            </div>
            <p>배틀그라운드 플레이 영상</p>
          </li>
        </ul>
      </div>

      <!-- ad -->
      <div class="ad_center mt70">
        <h2>메인 광고</h2>
      </div>

      <!-- 스팀, 카카오 경쟁전 -->
      <div class="steam_kakao_box mt70">
        <ul class="item02">
          <li>
            <div class="pyo_box">
              <div class="pyo_sub_tit_box steam">
                <div class="pyo_tit">
                  <h2>STEAM 경쟁전</h2>
                </div>
                <div class="pyo_link_yo">
                  <a href="/leaderboard/steam">
                    <img src="/img/pyo_link.png" alt="" />
                  </a>
                </div>
              </div>

              <div class="board_yo">
                <div class="board-header_yo">
                  <div class="col_yo rank_yo">순위</div>
                  <div class="col_yo player_yo">플레이어</div>
                  <div class="col_yo rp_yo">RP</div>
                  <div class="col_yo kda_yo">KDA</div>
                  <div class="col_yo matches_yo dil">평균딜량</div>
                </div>

                <div th:each="player, stat : ${steamPlayerList}" th:class="board-row_yo" th:attr="data-id=${player.id}" onclick="goToPlayer(this, 'steam')" style="cursor: pointer">
                  <div class="col_yo rank_yo" th:text="${player.attributes.rank}"></div>
                  <div class="col_yo player_yo" th:text="${player.attributes.name}"></div>
                  <div class="col_yo rp_yo" th:text="${#numbers.formatDecimal(player.attributes.stats.rankPoints, 0, 0)}"></div>
                  <div class="col_yo kda_yo" th:text="${#numbers.formatDecimal(player.attributes.stats.kda, 1, 2)}"></div>
                  <div class="col_yo matches_yo dil" th:text="${player.attributes.stats.averageDamage}"></div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="pyo_box">
              <div class="pyo_sub_tit_box kakao">
                <div class="pyo_tit">
                  <h2>KAKAO 경쟁전</h2>
                </div>
                <div class="pyo_link_yo">
                  <a href="/leaderboard/kakao">
                    <img src="/img/pyo_link.png" alt="" />
                  </a>
                </div>
              </div>

              <div class="board_yo">
                <div class="board-header_yo">
                  <div class="col_yo rank_yo">순위</div>
                  <div class="col_yo player_yo">플레이어</div>
                  <div class="col_yo rp_yo">RP</div>
                  <div class="col_yo kda_yo">KDA</div>
                  <div class="col_yo matches_yo dil">평균딜량</div>
                </div>

                <div th:each="player, stat : ${kakaoPlayerList}" th:class="board-row_yo" th:attr="data-id=${player.id}" onclick="goToPlayer(this, 'kakao')" style="cursor: pointer">
                  <div class="col_yo rank_yo" th:text="${player.attributes.rank}"></div>
                  <div class="col_yo player_yo" th:text="${player.attributes.name}"></div>
                  <div class="col_yo rp_yo" th:text="${#numbers.formatDecimal(player.attributes.stats.rankPoints, 0, 0)}"></div>
                  <div class="col_yo kda_yo" th:text="${#numbers.formatDecimal(player.attributes.stats.kda, 1, 2)}"></div>
                  <div class="col_yo matches_yo dil" th:text="${player.attributes.stats.averageDamage}"></div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- 커뮤니티 -->
      <div class="pyo_sub_tit_box community mt70">
        <div class="pyo_tit"><h2>커뮤니티</h2></div>
        <div class="pyo_link_yo"><a href="javascript:;"><img src="/img/pyo_link.png" alt="" /></a></div>
      </div>

      <div class="board_yo main_bottom_board">
        <div class="board-header_yo">
          <div class="col_yo num_yo">번호</div>
          <div class="col_yo title_yo">제목</div>
          <div class="col_yo writer_yo">글쓴이</div>
          <div class="col_yo date_yo">작성일</div>
          <div class="col_yo views_yo">조회수</div>
          <div class="col_yo likes_yo">추천수</div>
        </div>

        <div class="board-row_yo" th:each="post : ${postList}">
          <a th:href="@{/notice/view/{id}(id=${post.id})}">
            <div class="col_yo num_yo" th:text="${post.id}"></div>
            <div class="col_yo title_yo" th:text="${post.title}"></div>
            <div class="col_yo writer_yo">홍길동</div>
            <div class="col_yo date_yo" th:text="${post.registerDate}"></div>
            <div class="col_yo views_yo" th:text="${post.views}"></div>
            <div class="col_yo likes_yo" th:text="${post.postLikesNumber}"></div>
          </a>
        </div>
      </div>
    </div>

    <!-- right ad -->
    <div class="ad-right">
      <h2>오른쪽 광고</h2>
    </div>
  </div>

  <!-- 푸터 -->
  <div th:replace="~{fragments/footer :: siteFooter}"></div>


</div>

<!-- 광고 스크롤 스크립트 -->
<script>
  function onChangeSteamFpp(event) {
    event.preventDefault();
    event.stopPropagation();
  }

  function goToPlayer(element, platform) {
    const id = element.getAttribute("data-id");
    window.location.href = `/member/record/${id}/${platform}`;
  }

  window.addEventListener("scroll", () => {
    const container = document.querySelector(".container");
    const ads = document.querySelectorAll(".ad");

    const containerTop = container.offsetTop;
    const containerHeight = container.offsetHeight;
    const scrollTop = window.scrollY;
    const padding = 20;

    ads.forEach((ad) => {
      const adHeight = ad.offsetHeight;
      let topOffset = scrollTop + padding - containerTop;

      if (scrollTop + padding < containerTop) topOffset = 0;
      if (topOffset + adHeight > containerHeight) topOffset = containerHeight - adHeight;

      ad.style.top = `${topOffset}px`;
    });
  });
</script>
</body>
</html>
