<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fighting</title>

    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/basic.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="/css/content.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="/css/gap.css" type="text/css" media="all" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="main">
    <div id="wrap">
      <!--%@ include file="/include/header.jsp" %-->
      <!--%@ include file="/include/main_visual.jsp" %-->

      <!-- header -->
      <header>
        <div class="inner">
          <div class="h_logo">
            <a href="/">
              <img src="/img/logo.png" alt="" />
            </a>
          </div>
          <div class="gnb">
            <ul>
              <li>
                <a href="/leaderboard">리더보드</a>
              </li>
              <li class="header_bar">|</li>
              <li>
                <a href="/notice">게시판</a>
              </li>
              <li class="header_bar">|</li>
              <li>
                <a href="/member/login">로그인</a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <!-- main container -->
      <div class="container mt70">
        <!-- left ad -->
        <div class="ad-left">
          <h2>왼쪽 광고</h2>
        </div>
        <!-- main center -->
        <div class="main-content">
          <!-- 검색결과 -->
          <!-- 검색결과 없음 -->
          <div class="no_search_box">
            <p>
              "<span>test1234</span>" <br class="br_mb_only" />
              플레이어를 찾을 수 없습니다. <br />
              닉네임이 올바른지 다시 한 번 확인해 주시기 바랍니다.
            </p>

            <!-- 불러오기 버튼 -->
            <div class="call_btn mt70">
              <a href="/">
                <p>메인으로</p>
              </a>
            </div>
          </div>
        </div>
        <!-- right ad -->
        <div class="ad-right">
          <h2>오른쪽 광고</h2>
        </div>
      </div>
      <!-- 푸터 -->
      <footer id="footer">
        <div class="footer_top">
          <div class="inner">
            <div class="footer_menu_box">
              <div class="footer_menu">
                <a href="/member/agree"></a>이용약관</a>
              </div>
              <div class="header_bar">|</div>
              <div class="footer_menu">
                <a href="/member/policy"></a>개인정보처리방침</a>
              </div>
            </div>
          </div>
        </div>

        <div class="footer_bottom">
          <div class="inner">
            <div class="footer_side">
              <img src="/img/footer_logo.png" alt="" />
            </div>
            <div class="footer_side right">
              <div class="footer_info_box">
                <div class="footer_info_yo">
                  <img src="/img/footer_icon01.png" alt="" />
                  <p>NTROPYADMIN</p>
                </div>
                <div class="footer_info_yo">
                  <img src="/img/footer_icon02.png" alt="" />
                  <p>CKSUN0620@NAVER.COM</p>
                </div>
              </div>
              <div class="copyright">
                <p>© Copyrights 2025 NTROPHY All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

<!-- 양 사이드 광고 높이 조정 스크립트 -->
<script>
  window.addEventListener("scroll", () => {
    const container = document.querySelector(".container");
    const ads = document.querySelectorAll(".ad");

    const containerTop = container.offsetTop;
    const containerHeight = container.offsetHeight;
    const containerBottom = containerTop + containerHeight;
    const scrollTop = window.scrollY;
    const padding = 20;

    ads.forEach((ad) => {
      const adHeight = ad.offsetHeight;
      let topOffset = scrollTop + padding - containerTop;

      if (scrollTop + padding < containerTop) {
        topOffset = 0;
      }

      if (topOffset + adHeight > containerHeight) {
        topOffset = containerHeight - adHeight;
      }

      ad.style.top = `${topOffset}px`;
    });
  });
</script>
