<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntrophy.mapper.PostMapper">
    <select
        id="list"
        parameterType="com.ntrophy.domain.post.Post"
        resultType="com.ntrophy.domain.post.Post"
    >
        SELECT *
        FROM post
    </select>
    <insert
        id="insert"
        parameterType="com.ntrophy.domain.post.Post"
    >
        INSERT INTO post (
            title,
            contents,
            views,
            password,
            registerdate
        ) VALUES (
            #{title},
            #{contents},
            #{views},
            #{password},
            #{registerdate}
        )
        <selectKey
            keyProperty="id"
            resultType="int"
            order="AFTER"
        >
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
</mapper>